html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    border: 1px solid red;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

/*
solucion lio
@media (min-width: 480px) {
    .column-drop-css {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .columna {
        flex-basis: calc(50% - 1rem);
    }
    .tercera {
        flex-grow: 1;
    }
}

@media (min-width: 768px) {
    .columna {
        flex-basis: calc(33.3% - 1rem);
    }
    .tercera {
        flex-grow: 0;
    }
}
*/

@media (min-width: 480px) {
    .column-drop-flex {
        display: flex;
        flex-wrap: wrap;
        /*
        lo mismo que flex-wrap: wrap; pero invierte el orden de posicionamiento de los elementos 
        flex-wrap: wrap;
         */
        justify-content: space-between;
    }
    .contenido-principal,
    .primera {
        flex-basis: calc(50% - 1rem);
    }
}

@media (min-width: 768px) {
    .contenido-principal,
    .primera,
    .segunda {
        flex: 0 0 calc(33.3% - 2rem); 
        /* 0 0 valores de crecimiento y decrecimiento respectivamente */
    }
}